<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/saberbalance/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/saberbalance/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/saberbalance/favicon-16x16.png">
    <link rel="manifest" href="/saberbalance/site.webmanifest">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.8.3/dist/vuetify.min.css">
  </head>

  <body>
    <div id="app">
      {{ content }}
      <main-app></main-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@3.5.13/dist/vue.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.8.3/dist/vuetify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue3-sfc-loader@0.9.5/dist/vue3-sfc-loader.min.js"></script>

    <script>
    const options = {
      moduleCache: {
        vue: Vue
      },
      async getFile(url) {
        
        const res = await fetch(url);
        if ( !res.ok )
          throw Object.assign(new Error(res.statusText + ' ' + url), { res });
        return {
          getContentData: asBinary => asBinary ? res.arrayBuffer() : res.text(),
        }
      },
      addStyle(textContent) {

        const style = Object.assign(document.createElement('style'), { textContent });
        const ref = document.head.getElementsByTagName('style')[0] || null;
        document.head.insertBefore(style, ref);
      },
    }

    const { loadModule } = window['vue3-sfc-loader'];

    const app = Vue.createApp({
      components: {
        'main-app': Vue.defineAsyncComponent( () => loadModule('./components/main.vue', options) )
      }
    });

    const { createVuetify } = Vuetify

    const vuetify = createVuetify()

    app.use(vuetify).mount('#app');
    </script>
  </body>
</html>
